<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>DB TOKO</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous" />
  </head>
  <body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg bg-dark">
      <div class="container">
        <a class="navbar-brand text-light" href="/">DB TOKO</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link action text-light" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link action text-light" href="/produk">Products</a>
            </li>
            <li class="nav-item">
              <a class="nav-link action text-light" href="/categories">Categories</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle action text-light" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"> Dropdown link </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item action text-light" href="#">Action</a></li>
                <li><a class="dropdown-item action text-light" href="#">Another action</a></li>
                <li><a class="dropdown-item action text-light" href="#">Something else here</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- End Navbar -->
    <div class="container mt-3">
      <div class="row d-flex justify-content-center">
        <div class="col-4">
          <h1>Edit Product</h1>
          <hr />
          <form action="/produk/edit" method="POST">
            <input type="hidden" name="id" value="{{.produk.Id}}" />
             <div class="mb-3">
              <label class="form-label">Name</label>
              <input type="text" class="form-control" name="name" autocomplete="off" value="{{.produk.Name}}" />
            <div class="mb3">
                <label class="form-label">Category </label>
                <select class="form-select" name="category_id">
                {{range .categories}}
                <option value="{{.Id}}">{{.Name}}</option>
                {{ end}}
            </select>
            </div>  
            <div class="mb-3">
              <label class="form-label">Stock</label>
              <input type="number" class="form-control" name="stock" autocomplete="off" value="{{.produk.Stok}}" />
            </div>
            <div class="mb-3">
              <label class="form-label">Description</label>
              <textarea class="form-control" name="description" rows="3" >{{.produk.Keterangan}}</textarea>
            </div>
            <div class="float-end">
              <a href="/produk" class="btn btn-secondary">Back</a>
              <button type="submit" class="btn btn-primary">Save</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
